<div class="header-container col-100 header-interno">
    <div class="center-container">
        <div class="col-25">
            <div class="logo-container">
                <a href="{{urls.INDEX}}"><img src="../../../assets/img/logo-cibeles.png"></a>
            </div>
        </div>
        <div class="col-75">
            <div class="navigation-container">
                <div class="social-container">
                    <ul class="social">
                        <li><a href="https://www.facebook.com/AgenciaCibelesTours/" target="_blank"><img src="../../../assets/img/facebook.svg" alt=""></a></li>
                        <li><a href="https://twitter.com/Cibeles_Tours" target="_blank"><img src="../../../assets/img/twitter.svg" alt=""></a></li>
                        <li><a href="https://www.instagram.com/cibelestours/" target="_blank"><img src="../../../assets/img/instagram.svg" alt=""></a></li>
                    </ul>
                </div>
                <nav>
                    <input type="checkbox" class="responsive button-menu" id="button-menu">
                    <label for="button-menu" class="responsive">
                        <div class="button-bars">
                            <div class="bar bar1"></div>
                            <div class="bar bar2"></div>
                            <div class="bar bar3"></div>
                        </div>
                    </label>
                    <div class="nav-container">
                        <ul class="navigation">
                            <li><a routerLink="{{urls.INDEX}}">Inicio</a></li>
                            <li><a routerLink="{{urls.PLANES}}">Planes</a>    
                                <ul class="subnav level-2">
                                    <li><a href="#">Nacionales</a>
                                        <ul class="subnav level-3">
                                            <li><a href="#">Salidas grupales</a></li>
                                            <li><a href="#">Salidas grupales aéreas</a></li>
                                            <li><a href="#">Salidas individuales</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Internacionales</a></li>
                                    <li><a href="#">Cruceros</a></li>
                                    <li><a href="#">Rutas Antioquia</a></li>
                                </ul>
                            </li>
                            <li><a routerLink="{{urls.ABOUT}}">Conócenos</a></li>
                            <li><a routerLink="{{urls.CONTACT_US}}">Contáctenos</a></li>
                            <!-- <li><a routerLink="/">Hoteles y vuelos</a></li> -->
                            <!-- <li><a routerLink="/">Blog</a></li> -->
                        </ul>
                    </div>
                </nav>
                
            </div>
        </div>
    </div>
</div>