
  <div class="search-container search-interno">
      <div class="center-container">
          <h2>circuitos colombia - salidas puntuales</h2>
          <fieldset>
              <div>
                  <label for="origen"></label>
                  <select name="" id="origen">
                      <option value="default" selected>Origen</option>
                  </select>
              </div>
              <div>
                  <label for="tipo"></label>
                  <select name="" id="tipo">
                      <option value="default" selected>Tipo de transporte</option>
                  </select>
              </div>
              <div>
                  <label for="destino"></label>
                  <select name="" id="destino">
                      <option value="default" selected>Destino favorito</option>
                  </select>
              </div>
              <div>
                  <label for="fecha"></label>
                  <select name="" id="fecha">
                      <option value="default" selected>Fecha</option>
                  </select>
              </div>
              <div>
                  <label for="habitaciones"></label> 
                  <select name="" id="habitaciones">
                      <option value="default" selected>Habitaciones</option>
                  </select>
              </div>
              
              <button></button>
          </fieldset>
      </div>
</div>