<section class="tr-contenido internal-container">
    <div class="center-container">
    <div class="tr-cont-planes">
        <div class="tr-cat-plan">
        <img src="../../../assets/img/salidas-grupales.jpg" alt="grupales" title="salidas grupales">
        <div class="tr-cont-tit-cat">
            <h2>SALIDAS GRUPALES</h2>
        </div>
        <ul class="salidas-items plain-active col-100 ">
            <li class="col-25" *ngFor="let travel of groupTravels">
                <travel-item [travel]="travel"></travel-item>
            </li>
        </ul>
        </div>
        <div class="tr-cat-plan">
        <img src="../../../assets/img/salidas-aereas.jpg" alt="aereas" title="salidas grupales aéreas">
        <div class="tr-cont-tit-cat">
            <h2>SALIDAS GRUPALES AÉREAS</h2>
        </div>
        <ul class="salidas-items col-100">
            <li class="col-25" *ngFor="let travel of groupFlyTravels">
                <travel-item [travel]="travel"></travel-item>
            </li>
        </ul>
        </div>
        <div class="tr-cat-plan">
        <img src="../../../assets/img/salidas-individuales.jpg" alt="individuales" title="salidas individuales">
        <div class="tr-cont-tit-cat">
            <h2>SALIDAS INDIVIDUALES</h2>
        </div>
        <ul class="salidas-items col-100">
            <li class="col-25" *ngFor="let travel of aloneTravels">
                <travel-item [travel]="travel"></travel-item>
            </li>
        </ul>
        </div>
    </div>
    </div>
    <div class="col-100 plains-content">
        <div class="center-container">
        </div>
    </div>
    <div class="example-loading-shade" *ngIf="!groupTravels || !groupFlyTravels || !aloneTravels">
        <mat-spinner *ngIf="!groupTravels || !groupFlyTravels || !aloneTravels"></mat-spinner>
    </div>
</section>