
<div class="search-container">
    <div class="center-container">
        <h2>circuitos colombia - salidas puntuales</h2>
        <fieldset>
            <div>
                <label for="origen"></label>
                <select name="" id="origen" [(ngModel)] = "filters.idOrigen">
                    <option value = "0" selected>Origen</option>
                    <option value = "1">Colombia</option>
                </select>
            </div>
            <div>
                <label for="tipo"></label>
                <select name="" id="tipo" [(ngModel)] = "filters.transportType">
                    <option value="0" selected>Tipo de transporte</option>
                    <option value = "1">Aereo</option>
                </select>
            </div>
            <div>
                <label for="destino"></label>
                <select name="" id="destino" [(ngModel)] = "filters.idFavoriteDestiny">
                    <option value="0" selected>Destino favorito</option>
                    <option value = "1">Panamá</option>
                </select>
            </div>
            <div>
                <label for="fecha"></label>
                <input type="date" name="" id="fecha" [(ngModel)] = "filters.startDate">
            </div>
            <div (click)="showRooms()">
                <label for="habitaciones"></label> 
                <select name="" id="habitaciones"  [(ngModel)] = "filters.peopleNumber" disabled>
                    <option value="0" selected>Habitaciones</option>
                </select>
                <div class="rooms" [@show-rooms]="showrooms">
                    <rooms-selector></rooms-selector>
                </div>
                <!-- <select name="" id="habitaciones"  [(ngModel)] = "filters.peopleNumber">
                    <option value="0" selected>Habitaciones</option>
                    <option value = "1">2 Adultos</option>
                </select> -->
            </div>
            
            <button (click)="search()"></button>
        </fieldset>
    </div>
</div>