<section class="tr-contenido internal-container">
    <div class="center-container">
        <div class="tr-contacto">
            <h1>¿Estas preparado para disfrutar de la mejor aventura?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porta mauris vitae tellus pretium, in faucibus enim blandit. Suspendisse quis sem ut velit sagittis vulputate. Donec rhoncus efficitur mi, id efficitur sem scelerisque vel. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse luctus ipsum non imperdiet rutrum. Curabitur cursus est ac tortor ultricies bibendum. </p>
            <div class="tr-form">
                <h2>Escribenos</h2>
                <form action="">
                    <fieldset>
                        <input type="text" placeholder="Nombre Completo">
                    </fieldset>
                    <fieldset>
                        <input type="text" placeholder="Número de contacto">
                    </fieldset>
                    <fieldset>
                        <input type="text" placeholder="Correo electrónico">
                    </fieldset>
                    <fieldset>
                        <input type="text" placeholder="Asunto">
                    </fieldset>
                    <fieldset>
                        <textarea placeholder="Descripción"></textarea>
                    </fieldset>
                    <input type="submit" value="Enviar ahora" class="tr-btn tr-rojo">
                </form>
            </div>
            <div class="tr-datos">
                <h2>Contáctanos</h2>
                <div class="tr-cont-dato">
                    <img src="../../../assets/img/whatsapp.svg" alt="wpp" title="Escribenos al whatsapp"> <span>+57 310 453 2283</span>
                </div>
                <div class="tr-cont-dato">
                    <img src="../../../assets/img/phone-call.svg" alt="tel" title="Llámanos a nuestro número"> <span>+57-4 444 2628</span>
                </div>
                <div class="tr-cont-dato">
                    <img src="../../../assets/img/smartphone.svg" alt="cel" title="Comunícate a nuestro celular"> <span>310 453 2283</span>
                </div>
            </div>
        </div>
    </div>
</section>