
.tr-salidas{
    position: relative;
	width: 300px;
	background: #ffffff;
	border-radius: 7px;
	box-sizing: border-box;
	padding: 1%;
}

.tr-meses,
.tr-meses form,
.tr-cont-salidas,
.tr-cont-salidas ul{
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
}

.tr-meses{
	text-align: center;
}

.tr-meses label{
    display: inline-block;
    line-height: 35px;
    font-size: 22px;
    font-family: 'oswaldextralight';
}

.tr-salidas .tr-arrow{
	width: 35px;
	margin: 0;
	border: 1px solid transparent;
	border-radius:  50%;
	padding: 0;
	height: 35px;
	line-height: 35px;
	position: absolute;;
	transition: all .2s ease-in-out;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	background: #dddddd url(../../../assets/img/salidas/arrow-down.png) no-repeat center;
	background-size: 50%;
}

.tr-salidas .ant{
	left: 0;
	transform: rotate(90deg);
}

.tr-salidas .sig{
	right: 0;
	transform: rotate(-90deg);
}

.tr-salidas .ant:hover,
.tr-salidas .sig:hover{
	background: transparent url(../../../assets/img/salidas/arrow-down.png) no-repeat center;
	background-size: 50%;
	border:1px solid #585858;
}

.tr-cont-salidas{
	margin: 15px 0 0;
	padding: 15px 0 0;
	border-top:1px solid #f6f6f6;
}

.tr-cont-salidas ul li{
	font-family: 'oswaldextralight';
	box-sizing: border-box;
	padding: 10px 25px;
}

.tr-cont-salidas ul li input[type="button"] {
    width: 100%;
    background: transparent;
    border: 0;
    text-align: left;
	cursor: pointer;
	font-family: 'oswaldextralight';
	transition: all .2s ease-in-out;
}

.tr-cont-salidas ul li input[type="button"]:hover{
	text-decoration: underline;
	color: #EA1216;
}