<div class="container">
  <h3 mat-dialog-title>Nuevo Itinerario</h3>

  <form class="mat-dialog-content" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="name" [(ngModel)]="schedule.name"
               name="name">
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [disabled]="!formControl.valid" (click)="confirmAdd()">
        Guardar
      </button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </form>
</div>
