<section class="detalle col-100">
    <div class="center-container">
        <ul class="detail-content">
            <li>
                <h3>incluye</h3>
                <div class="detail-item" *ngIf="travel">
                    <img [src]="printImage(travel.plan.imgPpalName)" alt="{{travel.plan.name}}" title="{{travel.plan.name}}" class="principalImage">
                    <div class="tr-info-rst-bus">
                            <h2>{{travel.plan.name}}</h2>
                            <span>Durante {{getDays(travel.stardDate, travel.finishDate)}} días</span>
                            <p>
                                <!-- <b>Plan premium:</b> 4 nohes, 5 días todo incluido<br/> -->
                                <!-- <b>Hotel Panamá City:</b> (1 habitación) 2 personas<br/> -->
                                <b>Fecha de llegada al hotel:</b> {{getDate(travel.stardDate)}}<br/>
                                <b>Fecha de salida del hotel:</b> {{getDate(travel.finishDate)}}<br/>
                            </p>
                            <p>{{travel.plan.description}}</p>
                            <div class="tr-cont-icons">
                                <div class="tr-icon" *ngFor="let ico of travel.plan.includeServicesIco"><img [src]="printImage(ico)" alt="ico"></div>
                            </div>
                        </div>
                        <div class="tr-valores">
                            <span>DESDE</span>
                            <h3>{{travel.basePrice | currency:'$':'symbol': '0.0-0'}}</h3>
                        </div>
                </div>
            </li>
            <!-- <li>
                <h3>Tarifas</h3>
                <div class="detail-item">
                    <travel-dates-picker [dates]="dates" [parentSubject]="pickerDateSubject"></travel-dates-picker>
                </div>
            </li> -->
            <li>
                <h3>itinerario</h3>
                <div class="detail-item" *ngIf="schedule">
                    <div *ngFor="let day of schedule.days">
                        <h3>{{day.name}}</h3>
                        <p>{{day.activities}}</p>
                    </div>
                </div>
            </li>
            <li>
                <h3>multimedia</h3>
                <div class="detail-item" *ngIf="travel">
                    <ul class="col-100 multimedia">
                        <li class="col-25" *ngFor="let image of travel.plan.multimediaNames">
                            <img class="MultimediaImage" src="{{printImage(image)}}" alt="">
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="example-loading-shade" *ngIf="!schedule">
            <mat-spinner *ngIf="!schedule"></mat-spinner>
        </div>
    </div>
</section>
