<section class="detalle col-100">
    <div class="center-container">
        <ul class="detail-content">
            <li>
                <h3>incluye</h3>
                <div class="detail-item" *ngIf="travel">
                    <div class="tr-info-rst-bus">
                            <h2>{{travel.plan.name}}</h2>
                            <span>Durante {{getDays(travel.stardDate, travel.finishDate)}} días</span>
                            <p>
                                <!-- <b>Plan premium:</b> 4 nohes, 5 días todo incluido<br/> -->
                                <!-- <b>Hotel Panamá City:</b> (1 habitación) 2 personas<br/> -->
                                <b>Fecha de llegada al hotel:</b> {{getDate(travel.stardDate)}}<br/>
                                <b>Fecha de salida del hotel:</b> {{getDate(travel.finishDate)}}<br/>
                            </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porta mauris vitae tellus pretium, in faucibus enim blandit. Suspendisse quis sem ut velit sagittis vulputate. Donec rhoncus efficitur mi, id efficitur sem scelerisque vel. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse luctus ipsum non imperdiet rutrum. Curabitur cursus est ac tortor ultricies bibendum.</p>
                            <div class="tr-cont-icons">
                                <div class="tr-icon"><img src="../../../assets/img/wifi.svg" alt=""></div>
                                <div class="tr-icon"><img src="../../../assets/img/cutlery.svg" alt=""></div>
                                <div class="tr-icon"><img src="../../../assets/img/swimming-pool.svg" alt=""></div>
                                <div class="tr-icon"><img src="../../../assets/img/room-service.svg" alt=""></div>
                                <div class="tr-icon"><img src="../../../assets/img/martini.svg" alt=""></div>
                            </div>
                        </div>
                        <div class="tr-valores">
                            <span>DESDE</span>
                            <h3>{{travel.basePrice | currency:'$':'symbol': '0.0-0'}}</h3>
                        </div>
                </div>
            </li>
            <!-- <li>
                <h3>Tarifas</h3>
                <div class="detail-item">
                    <travel-dates-picker [dates]="dates" [parentSubject]="pickerDateSubject"></travel-dates-picker>
                </div>
            </li> -->
            <li>
                <h3>itinerario</h3>
                <div class="detail-item" *ngIf="schedule">
                    <div *ngFor="let day of schedule.days">
                        <h3>{{day.name}}</h3>
                        <p>{{day.activities}}</p>
                    </div>
                </div>
            </li>
            <li>
                <h3>multimedia</h3>
                <div class="detail-item">
                    <ul class="col-100 multimedia">
                        <li class="col-25"><img src="../../../assets/img/multimedia.jpg" alt=""></li>
                        <li class="col-25"><img src="../../../assets/img/multimedia.jpg" alt=""></li>
                        <li class="col-25"><img src="../../../assets/img/multimedia.jpg" alt=""></li>
                        <li class="col-25"><img src="../../../assets/img/multimedia.jpg" alt=""></li>
                        <li class="col-25"><img src="../../../assets/img/multimedia.jpg" alt=""></li>
                        <li class="col-25"><img src="../../../assets/img/multimedia.jpg" alt=""></li>
                        <li class="col-25"><img src="../../../assets/img/multimedia.jpg" alt=""></li>
                        <li class="col-25"><img src="../../../assets/img/multimedia.jpg" alt=""></li>
                        <li class="col-25"><img src="../../../assets/img/multimedia.jpg" alt=""></li>
                        <li class="col-25"><img src="../../../assets/img/multimedia.jpg" alt=""></li>
                        <li class="col-25"><img src="../../../assets/img/multimedia.jpg" alt=""></li>
                        <li class="col-25"><img src="../../../assets/img/multimedia.jpg" alt=""></li>
                    </ul>
                </div>
            </li>
        </ul>
        
    </div>
</section>
