<section class="tr-contenido internal-container">
  <div class="center-container">
      <div class="tr-conoce">
          <div class="tr-qSomos">
              <h2>QUIÉNES SOMOS</h2>
              <p>CIBELES TOURS, es una agencia de viajes, legalmente constituida ante la CAMARA  DE COMERCIO Y REGISTRO NACIONAL DE TURISMO (No 13199) con 9 años de experiencia.</p>
              <p>CIBELES TOURS cuenta con el mejor personal,  asesores de todo nuestro territorio nacional para brindarles a nuestros  turistas el mejor servicio con una información completa del destino elegido.  Además ofrecemos un  respaldo  único en cada uno de nuestros destinos  contando con la calidez y el mejor servicio que siempre nos ha caracterizado.a</p>
          </div>
          <div class="tr-mision">
              <h2>MISIÓN</h2>
              <p>CIBELES TOURS demuestra con su responsabilidad trabajo y buen desempeño en sus programas turísticos que es la mejor opción, brindando múltiples alternativas para las vacaciones de nuestros turistas en donde gracias a la preparación y el conocimiento de nuestros destinos el turista podrá aprovechar un descanso al máximo y obtendrá un conocimiento total del destino elegido. Con el mejor servicio respeto y calidad humana siendo atendidos por los propietarios de CIBELES TOURS en cada uno de nuestros destinos.</p>
              <p>CIBELES TOURS pioneros en turismo, seguirá cumpliendo con los más altos estándares de calidad que siempre han caracterizado nuestra empresa en donde hemos recibido reconocimiento durante nueve años de las mejores empresas, fondos de empleados y todas las familias colombianas</p>
          </div>
          <div class="tr-vision">
              <h2>VISIÓN</h2>
              <p>Ser la agencia de viajes líder en destinos nacionales e internacionales, haciendo los mejores convenios con hoteles y transporte, para así seguir siendo los mayoristas de múltiples destinos y poder brindar el mejor servicio con los mejores precios a todos nuestros turistas con la calidez humana que siempre nos ha caracterizado</p>
          </div>
          <div class="tr-politicas">
              <h2>POLÍTICAS DE SOSTENIBILIDAD AMBIENTAL</h2>
              <p>CIBELES TOURS S.A.S demuestra con su responsabilidad, trabajo y buen desempeño en sus programas turísticos, que es la mejor opción, brindando múltiples alternativas para las vacaciones de nuestros turistas en donde gracias a la preparación y el conocimiento de nuestros destinos, el turista podrá aprovechar un descanso al máximo y obtendrá un conocimiento total del destino elegido. Con el mejor servicio, respeto y calidad humana siendo atendidos por los propietarios de CIBELES TOURS S.A.S. en cada uno de nuestros destinos. Estamos comprometidos con la Sostenibilidad Turística del País y la Seguridad y Salud de nuestro equipo de trabajo, independientemente de su forma de contratación o vinculación, para ello:</p>
              <ul>
                  <li>Implementamos acciones encaminadas al buen desarrollo y sostenibilidad sociocultural, ambiental y económica entre los viajeros en los sitios a visitar.</li>
                  <li>Implementamos programas de buen manejo y uso racional de los recursos naturales y ambientales.</li>
                  <li>Rechazamos y Prevenimos la explotación sexual y comercial de niños, niñas y adolescentes, por medio de campañas, charlas y capacitación a nuestros colaboradores, proveedores y clientes.</li>
                  <li>Identificamos los peligros, evaluamos y valoramos los riesgos, de nuestro equipo de trabajo y establecemos sus respectivos controles.</li>
                  <li>Protegemos la seguridad y salud de nuestros trabajadores, mediante la mejora continua del sistema de gestión de la seguridad y salud en el trabajo de CIBELES TOURS S.A.S.</li>
                  <li>Nos comprometemos a cumplir la normatividad nacional vigente aplicable en todo lo concerniente al sistema integral de seguridad social y Turismo Sostenible, destinando de esta forma los recursos necesarios para la
                      implementación y mantenimiento de nuestro sistema Integrado de Gestión</li>
              </ul>
          </div>
      </div>
  </div>
</section>