<header>
    
    <layout-menu></layout-menu>
    <div class="col-100 slider-container">
        <ul class="slider-home">
            <li><img src="../../../assets/img/banner-ppal.jpg" alt=""></li>
            <li><img src="../../../assets/img/banner-ppal.jpg" alt=""></li>
        </ul>
        <span class="arrow left-arrow"><img src="../../../assets/img/next.svg" alt="" srcset=""></span>
        <span class="arrow right-arrow"><img src="../../../assets/img/next.svg" alt="" srcset=""></span>
        
    </div>
    <div class="search-container">
          <div class="center-container">
              <h2>circuitos colombia - salidas puntuales</h2>
              <fieldset>
                  <div>
                      <label for="origen"></label>
                      <select name="" id="origen">
                          <option value="default" selected>Origen</option>
                      </select>
                  </div>
                  <div>
                      <label for="tipo"></label>
                      <select name="" id="tipo">
                          <option value="default" selected>Tipo de transporte</option>
                      </select>
                  </div>
                  <div>
                      <label for="destino"></label>
                      <select name="" id="destino">
                          <option value="default" selected>Destino favorito</option>
                      </select>
                  </div>
                  <div>
                      <label for="fecha"></label>
                      <select name="" id="fecha">
                          <option value="default" selected>Fecha</option>
                      </select>
                  </div>
                  <div>
                      <label for="habitaciones"></label> 
                      <select name="" id="habitaciones">
                          <option value="default" selected>Habitaciones</option>
                      </select>
                  </div>
                  
                  <button></button>
              </fieldset>
          </div>
    </div>
</header>
<section>
  <div class="col-100 salidas">
      <div class="center-container">
          <h2>salidas grupales</h2>
          <ul class="salidas-items col-100">
          
          <li class="col-25">
              <div class="hover-item">
                  <div>
                      <h3 class="city">cartagena</h3>
                      <span class="depto">Bolivar, Colombia</span>
                      <h3>desde</h3>
                      <h3 class="price">1 679.000</h3>
                      <a href="#">Ver más</a>
                  </div>
              </div>
              <div class="image-container">
                  <img src="../../../assets/img/cartagena.jpg" alt="">
                  <div class="info-item">
                          <h3>cartagena</h3>
                          <span>Argentina - 6 días</span>
                      </div>
              </div>
          </li>
          <li class="col-25">
              <div class="hover-item">
                  <div>
                      <h3 class="city">cartagena</h3>
                      <span class="depto">Bolivar, Colombia</span>
                      <h3>desde</h3>
                      <h3 class="price">2 679.000</h3>
                      <a href="#">Ver más</a>
                  </div>
              </div>
              <div class="image-container">
                  <img src="../../../assets/img/buenos-arires.jpg" alt="">
                  <div class="info-item">
                          <h3>cartagena</h3>
                          <span>Argentina - 6 días</span>
                      </div>
              </div>
          </li>
          <li class="col-25">
              <div class="hover-item">
                  <div>
                      <h3 class="city">cartagena</h3>
                      <span class="depto">Bolivar, Colombia</span>
                      <h3>desde</h3>
                      <h3 class="price">3 679.000</h3>
                      <a href="#">Ver más</a>
                  </div>
              </div>
              <div class="image-container">
                  <img src="../../../assets/img/cano-cristales.jpg" alt="">
                  <div class="info-item">
                          <h3>cartagena</h3>
                          <span>Argentina - 6 días</span>
                      </div>
              </div>
          </li>
          <li class="col-25">
              <div class="hover-item">
                  <div>
                      <h3 class="city">cartagena</h3>
                      <span class="depto">Bolivar, Colombia</span>
                      <h3>desde</h3>
                      <h3 class="price">4 679.000</h3>
                      <a href="#">Ver más</a>
                  </div>
              </div>
              <div class="image-container">
                  <img src="../../../assets/img/cuba.jpg" alt="">
                  <div class="info-item">
                          <h3>cartagena</h3>
                          <span>Argentina - 6 días</span>
                      </div>
              </div>
          </li>
          <li class="col-25">
              <div class="hover-item">
                  <div>
                      <h3 class="city">cartagena</h3>
                      <span class="depto">Bolivar, Colombia</span>
                      <h3>desde</h3>
                      <h3 class="price">5 679.000</h3>
                      <a href="#">Ver más</a>
                  </div>
              </div>
              <div class="image-container">
                  <img src="../../../assets/img/orlando.jpg" alt="">
                  <div class="info-item">
                          <h3>cartagena</h3>
                          <span>Argentina - 6 días</span>
                      </div>
              </div>
          </li>
          <li class="col-25">
              <div class="hover-item">
                  <div>
                      <h3 class="city">cartagena</h3>
                      <span class="depto">Bolivar, Colombia</span>
                      <h3>desde</h3>
                      <h3 class="price">6 679.000</h3>
                      <a href="#">Ver más</a>
                  </div>
              </div>
              <div class="image-container">
                  <img src="../../../assets/img/cabo-de-la-vela.jpg" alt="">
                  <div class="info-item">
                          <h3>cartagena</h3>
                          <span>Argentina - 6 días</span>
                      </div>
              </div>
          </li>
          <li class="col-25">
              <div class="hover-item">
                  <div>
                      <h3 class="city">cartagena</h3>
                      <span class="depto">Bolivar, Colombia</span>
                      <h3>desde</h3>
                      <h3 class="price">7 679.000</h3>
                      <a href="#">Ver más</a>
                  </div>
              </div>
              <div class="image-container">
                  <img src="../../../assets/img/cuidad-de-panama.jpg" alt="">
                  <div class="info-item">
                          <h3>cartagena</h3>
                          <span>Argentina - 6 días</span>
                      </div>
              </div>
          </li>
          <li class="col-25">
              <div class="hover-item">
                  <div>
                      <h3 class="city">cartagena</h3>
                      <span class="depto">Bolivar, Colombia</span>
                      <h3>desde</h3>
                      <h3 class="price">8 679.000</h3>
                      <a href="#">Ver más</a>
                  </div>
              </div>
              <div class="image-container">
                  <img src="../../../assets/img/desuerto-tatacoa.jpg" alt="">
                  <div class="info-item">
                      <h3>cartagena</h3>
                      <span>Argentina - 6 días</span>
                  </div>
              </div>
          </li>
      </ul>
      </div>
  </div>
</section>
<section>
      <div class="col-100 ofertas">
          <div class="center-container">
              <h2>ofertas destacadas</h2>
              <ul class="salidas-items col-100">
              
              <li class="col-25">
                  <div class="hover-item">
                      <div>
                          <h3 class="city">cartagena</h3>
                          <span class="depto">Bolivar, Colombia</span>
                          <h3>desde</h3>
                          <h3 class="price">1 679.000</h3>
                          <a href="#">Ver más</a>
                      </div>
                  </div>
                  <div class="image-container">
                      <img src="../../../assets/img/cartagena.jpg" alt="">
                      <div class="info-item">
                              <h3>cartagena</h3>
                              <span>Argentina - 6 días</span>
                          </div>
                  </div>
              </li>
              <li class="col-25">
                  <div class="hover-item">
                      <div>
                          <h3 class="city">cartagena</h3>
                          <span class="depto">Bolivar, Colombia</span>
                          <h3>desde</h3>
                          <h3 class="price">2 679.000</h3>
                          <a href="#">Ver más</a>
                      </div>
                  </div>
                  <div class="image-container">
                      <img src="../../../assets/img/machupichu.jpg" alt="">
                      <div class="info-item">
                              <h3>cartagena</h3>
                              <span>Argentina - 6 días</span>
                          </div>
                  </div>
              </li>
              <li class="col-25">
                  <div class="hover-item">
                      <div>
                          <h3 class="city">cartagena</h3>
                          <span class="depto">Bolivar, Colombia</span>
                          <h3>desde</h3>
                          <h3 class="price">3 679.000</h3>
                          <a href="#">Ver más</a>
                      </div>
                  </div>
                  <div class="image-container">
                      <img src="../../../assets/img/isla-del-rosario.jpg" alt="">
                      <div class="info-item">
                              <h3>cartagena</h3>
                              <span>Argentina - 6 días</span>
                          </div>
                  </div>
              </li>
              <li class="col-25">
                  <div class="hover-item">
                      <div>
                          <h3 class="city">cartagena</h3>
                          <span class="depto">Bolivar, Colombia</span>
                          <h3>desde</h3>
                          <h3 class="price">4 679.000</h3>
                          <a href="#">Ver más</a>
                      </div>
                  </div>
                  <div class="image-container">
                      <img src="../../../assets/img/cuba.jpg" alt="">
                      <div class="info-item">
                              <h3>cartagena</h3>
                              <span>Argentina - 6 días</span>
                          </div>
                  </div>
              </li>
              <li class="col-25">
                  <div class="hover-item">
                      <div>
                          <h3 class="city">cartagena</h3>
                          <span class="depto">Bolivar, Colombia</span>
                          <h3>desde</h3>
                          <h3 class="price">5 679.000</h3>
                          <a href="#">Ver más</a>
                      </div>
                  </div>
                  <div class="image-container">
                      <img src="../../../assets/img/san-torini.jpg" alt="">
                      <div class="info-item">
                              <h3>cartagena</h3>
                              <span>Argentina - 6 días</span>
                          </div>
                  </div>
              </li>
              <li class="col-25">
                  <div class="hover-item">
                      <div>
                          <h3 class="city">cartagena</h3>
                          <span class="depto">Bolivar, Colombia</span>
                          <h3>desde</h3>
                          <h3 class="price">6 679.000</h3>
                          <a href="#">Ver más</a>
                      </div>
                  </div>
                  <div class="image-container">
                      <img src="../../../assets/img/cabo-de-la-vela.jpg" alt="">
                      <div class="info-item">
                              <h3>cartagena</h3>
                              <span>Argentina - 6 días</span>
                          </div>
                  </div>
              </li>
              <li class="col-25">
                  <div class="hover-item">
                      <div>
                          <h3 class="city">cartagena</h3>
                          <span class="depto">Bolivar, Colombia</span>
                          <h3>desde</h3>
                          <h3 class="price">7 679.000</h3>
                          <a href="#">Ver más</a>
                      </div>
                  </div>
                  <div class="image-container">
                      <img src="../../../assets/img/cuidad-de-panama.jpg" alt="">
                      <div class="info-item">
                              <h3>cartagena</h3>
                              <span>Argentina - 6 días</span>
                          </div>
                  </div>
              </li>
              <li class="col-25">
                  <div class="hover-item">
                      <div>
                          <h3 class="city">cartagena</h3>
                          <span class="depto">Bolivar, Colombia</span>
                          <h3>desde</h3>
                          <h3 class="price">8 679.000</h3>
                          <a href="#">Ver más</a>
                      </div>
                  </div>
                  <div class="image-container">
                      <img src="../../../assets/img/canon-del-chicamocha.jpg" alt="">
                      <div class="info-item">
                          <h3>cartagena</h3>
                          <span>Argentina - 6 días</span>
                      </div>
                  </div>
              </li>
          </ul>
          </div>
      </div>
  </section>
  <footer>
      <div class="col-100 banner-footer">
          <img src="../../../assets/img/imagen-imagen.jpg">
      </div>
      <div class="col-100 footer-container">
          <div class="center-container">
              <div class="col-50 left-footer">
                  <span class="direccion">
                          Carrera 74 No 48-37 CC. Obelisco  local 25  |  Calle 55 No. 78-64 Barrio los Colores, Medellín
                  </span>
                  <span class="telefono">
                          (+57-4) 444 2628
                  </span>
                      <a href="mailto:info@cibelestours.com">info@cibelestours.com</a>
                  <ul class="social-footer">
                      <li><a href="#"><img src="../../../assets/img/facebook-blanco.svg" alt=""></a></li>
                      <li><a href="#"><img src="../../../assets/img/twitter-blanco.svg" alt=""></a></li>
                      <li><a href="#"><img src="../../../assets/img/instagram-blanco.svg" alt=""></a></li>
                      <li><a href="#"><img src="../../../assets/img/whatsapp-blanco.svg" alt=""></a></li>
                  </ul>
                  
              </div>
              <div class="col-50 right-footer">
                  <h3>suscribete a nuestro boletín</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget nisl erat. Etiam ullamcorper, nisi eu volutpat sagittis.</p>
                  <div class="col-50">
                      <input type="text" placeholder="Nombre completo">
                  </div>
                  <div class="col-50">
                      <input type="email" placeholder="Correo electrónico">
                  </div>
                  <div class="col-50">
                      <input type="checkbox" id="politica"><label for="politica"></label><a href="#">Acepto política de tratamiento de datos</a>
                  </div>
                  <div class="col-50">
                      <button>Suscribirme ahora</button>
                  </div>
              </div>
              <a  class="ter4" href="#">
                  <span>
                      Desarrollado por: TERA Company S.A.S.
                  </span>
                  <img src="../../../assets/img/ter4.svg">
              </a>
          </div>
      </div>
  </footer>