<header>
    
    <layout-menu></layout-menu>
    <div class="col-100 slider-container">
        <ul class="slider-home">
            <li><img src="../../../assets/img/banner-ppal.jpg" alt=""></li>
            <li><img src="../../../assets/img/banner-ppal.jpg" alt=""></li>
        </ul>
        <span class="arrow left-arrow"><img src="../../../assets/img/next.svg" alt="" srcset=""></span>
        <span class="arrow right-arrow"><img src="../../../assets/img/next.svg" alt="" srcset=""></span>
        
    </div>
    <search-bar-index></search-bar-index>
</header>
<section>
  <div class="col-100 salidas">
      <div class="center-container">
          <h2>salidas grupales</h2>
          <ul class="salidas-items col-100">

            <li class="col-25" *ngFor="let travel of groupTravels">
                <travel-item [travel]="travel"></travel-item>
            </li>
          
          <!-- <li class="col-25">
              <div class="hover-item">
                  <div>
                      <h3 class="city">cartagena</h3>
                      <span class="depto">Bolivar, Colombia</span>
                      <h3>desde</h3>
                      <h3 class="price">1 679.000</h3>
                      <a href="#">Ver más</a>
                  </div>
              </div>
              <div class="image-container">
                  <img src="../../../assets/img/cartagena.jpg" alt="">
                  <div class="info-item">
                          <h3>cartagena</h3>
                          <span>Argentina - 6 días</span>
                      </div>
              </div>
          </li>
          <li class="col-25">
              <div class="hover-item">
                  <div>
                      <h3 class="city">cartagena</h3>
                      <span class="depto">Bolivar, Colombia</span>
                      <h3>desde</h3>
                      <h3 class="price">2 679.000</h3>
                      <a href="#">Ver más</a>
                  </div>
              </div>
              <div class="image-container">
                  <img src="../../../assets/img/buenos-arires.jpg" alt="">
                  <div class="info-item">
                          <h3>cartagena</h3>
                          <span>Argentina - 6 días</span>
                      </div>
              </div>
          </li>
          <li class="col-25">
              <div class="hover-item">
                  <div>
                      <h3 class="city">cartagena</h3>
                      <span class="depto">Bolivar, Colombia</span>
                      <h3>desde</h3>
                      <h3 class="price">3 679.000</h3>
                      <a href="#">Ver más</a>
                  </div>
              </div>
              <div class="image-container">
                  <img src="../../../assets/img/cano-cristales.jpg" alt="">
                  <div class="info-item">
                          <h3>cartagena</h3>
                          <span>Argentina - 6 días</span>
                      </div>
              </div>
          </li>
          <li class="col-25">
              <div class="hover-item">
                  <div>
                      <h3 class="city">cartagena</h3>
                      <span class="depto">Bolivar, Colombia</span>
                      <h3>desde</h3>
                      <h3 class="price">4 679.000</h3>
                      <a href="#">Ver más</a>
                  </div>
              </div>
              <div class="image-container">
                  <img src="../../../assets/img/cuba.jpg" alt="">
                  <div class="info-item">
                          <h3>cartagena</h3>
                          <span>Argentina - 6 días</span>
                      </div>
              </div>
          </li>
          <li class="col-25">
              <div class="hover-item">
                  <div>
                      <h3 class="city">cartagena</h3>
                      <span class="depto">Bolivar, Colombia</span>
                      <h3>desde</h3>
                      <h3 class="price">5 679.000</h3>
                      <a href="#">Ver más</a>
                  </div>
              </div>
              <div class="image-container">
                  <img src="../../../assets/img/orlando.jpg" alt="">
                  <div class="info-item">
                          <h3>cartagena</h3>
                          <span>Argentina - 6 días</span>
                      </div>
              </div>
          </li>
          <li class="col-25">
              <div class="hover-item">
                  <div>
                      <h3 class="city">cartagena</h3>
                      <span class="depto">Bolivar, Colombia</span>
                      <h3>desde</h3>
                      <h3 class="price">6 679.000</h3>
                      <a href="#">Ver más</a>
                  </div>
              </div>
              <div class="image-container">
                  <img src="../../../assets/img/cabo-de-la-vela.jpg" alt="">
                  <div class="info-item">
                          <h3>cartagena</h3>
                          <span>Argentina - 6 días</span>
                      </div>
              </div>
          </li>
          <li class="col-25">
              <div class="hover-item">
                  <div>
                      <h3 class="city">cartagena</h3>
                      <span class="depto">Bolivar, Colombia</span>
                      <h3>desde</h3>
                      <h3 class="price">7 679.000</h3>
                      <a href="#">Ver más</a>
                  </div>
              </div>
              <div class="image-container">
                  <img src="../../../assets/img/cuidad-de-panama.jpg" alt="">
                  <div class="info-item">
                          <h3>cartagena</h3>
                          <span>Argentina - 6 días</span>
                      </div>
              </div>
          </li>
          <li class="col-25">
              <div class="hover-item">
                  <div>
                      <h3 class="city">cartagena</h3>
                      <span class="depto">Bolivar, Colombia</span>
                      <h3>desde</h3>
                      <h3 class="price">8 679.000</h3>
                      <a href="#">Ver más</a>
                  </div>
              </div>
              <div class="image-container">
                  <img src="../../../assets/img/desuerto-tatacoa.jpg" alt="">
                  <div class="info-item">
                      <h3>cartagena</h3>
                      <span>Argentina - 6 días</span>
                  </div>
              </div>
          </li> -->
      </ul>
      </div>
  </div>
</section>
<section>
        <div class="col-100 ofertas">
            <div class="center-container">
                <h2>ofertas destacadas</h2>
                <ul class="salidas-items col-100">
                    <li class="col-25" *ngFor="let travel of starredTravels">
                        <travel-item [travel]="travel"></travel-item>
                        <!-- <div class="hover-item">
                            <div>
                                <h3 class="city">{{travel.plan.name}}</h3>
                                <span class="depto">Durante {{getDays(travel.stardDate, travel.finishDate)}} {{ getDays(travel.stardDate, travel.finishDate) > 1 ? "Días" : "Día"}}</span>
                                <h3>desde</h3>
                                <h3 class="price">{{travel.basePrice}}</h3>
                                <a (click)="seeMore(travel.id)">Ver más</a>
                            </div>
                        </div>
                        <div class="image-container">
                            <img src="../../../assets/img/cartagena.jpg" alt="">
                            <div class="info-item">
                                    <h3>{{travel.plan.name}}</h3>
                                    <span>{{travel.plan.travels.length}} opciones diferentes</span>
                                </div>
                        </div> -->
                    </li>
              <!-- <li class="col-25">
                  <div class="hover-item">
                      <div>
                          <h3 class="city">cartagena</h3>
                          <span class="depto">Bolivar, Colombia</span>
                          <h3>desde</h3>
                          <h3 class="price">1 679.000</h3>
                          <a href="#">Ver más</a>
                      </div>
                  </div>
                  <div class="image-container">
                      <img src="../../../assets/img/cartagena.jpg" alt="">
                      <div class="info-item">
                              <h3>cartagena</h3>
                              <span>Argentina - 6 días</span>
                          </div>
                  </div>
              </li>
              <li class="col-25">
                  <div class="hover-item">
                      <div>
                          <h3 class="city">cartagena</h3>
                          <span class="depto">Bolivar, Colombia</span>
                          <h3>desde</h3>
                          <h3 class="price">2 679.000</h3>
                          <a href="#">Ver más</a>
                      </div>
                  </div>
                  <div class="image-container">
                      <img src="../../../assets/img/machupichu.jpg" alt="">
                      <div class="info-item">
                              <h3>cartagena</h3>
                              <span>Argentina - 6 días</span>
                          </div>
                  </div>
              </li>
              <li class="col-25">
                  <div class="hover-item">
                      <div>
                          <h3 class="city">cartagena</h3>
                          <span class="depto">Bolivar, Colombia</span>
                          <h3>desde</h3>
                          <h3 class="price">3 679.000</h3>
                          <a href="#">Ver más</a>
                      </div>
                  </div>
                  <div class="image-container">
                      <img src="../../../assets/img/isla-del-rosario.jpg" alt="">
                      <div class="info-item">
                              <h3>cartagena</h3>
                              <span>Argentina - 6 días</span>
                          </div>
                  </div>
              </li>
              <li class="col-25">
                  <div class="hover-item">
                      <div>
                          <h3 class="city">cartagena</h3>
                          <span class="depto">Bolivar, Colombia</span>
                          <h3>desde</h3>
                          <h3 class="price">4 679.000</h3>
                          <a href="#">Ver más</a>
                      </div>
                  </div>
                  <div class="image-container">
                      <img src="../../../assets/img/cuba.jpg" alt="">
                      <div class="info-item">
                              <h3>cartagena</h3>
                              <span>Argentina - 6 días</span>
                          </div>
                  </div>
              </li>
              <li class="col-25">
                  <div class="hover-item">
                      <div>
                          <h3 class="city">cartagena</h3>
                          <span class="depto">Bolivar, Colombia</span>
                          <h3>desde</h3>
                          <h3 class="price">5 679.000</h3>
                          <a href="#">Ver más</a>
                      </div>
                  </div>
                  <div class="image-container">
                      <img src="../../../assets/img/san-torini.jpg" alt="">
                      <div class="info-item">
                              <h3>cartagena</h3>
                              <span>Argentina - 6 días</span>
                          </div>
                  </div>
              </li>
              <li class="col-25">
                  <div class="hover-item">
                      <div>
                          <h3 class="city">cartagena</h3>
                          <span class="depto">Bolivar, Colombia</span>
                          <h3>desde</h3>
                          <h3 class="price">6 679.000</h3>
                          <a href="#">Ver más</a>
                      </div>
                  </div>
                  <div class="image-container">
                      <img src="../../../assets/img/cabo-de-la-vela.jpg" alt="">
                      <div class="info-item">
                              <h3>cartagena</h3>
                              <span>Argentina - 6 días</span>
                          </div>
                  </div>
              </li>
              <li class="col-25">
                  <div class="hover-item">
                      <div>
                          <h3 class="city">cartagena</h3>
                          <span class="depto">Bolivar, Colombia</span>
                          <h3>desde</h3>
                          <h3 class="price">7 679.000</h3>
                          <a href="#">Ver más</a>
                      </div>
                  </div>
                  <div class="image-container">
                      <img src="../../../assets/img/cuidad-de-panama.jpg" alt="">
                      <div class="info-item">
                              <h3>cartagena</h3>
                              <span>Argentina - 6 días</span>
                          </div>
                  </div>
              </li>
              <li class="col-25">
                  <div class="hover-item">
                      <div>
                          <h3 class="city">cartagena</h3>
                          <span class="depto">Bolivar, Colombia</span>
                          <h3>desde</h3>
                          <h3 class="price">8 679.000</h3>
                          <a href="#">Ver más</a>
                      </div>
                  </div>
                  <div class="image-container">
                      <img src="../../../assets/img/canon-del-chicamocha.jpg" alt="">
                      <div class="info-item">
                          <h3>cartagena</h3>
                          <span>Argentina - 6 días</span>
                      </div>
                  </div>
              </li> -->
                </ul>
            </div>
        </div>
  </section>
  <footer>
      <app-footer></app-footer>
  </footer>