<mat-toolbar color="primary" [class.mat-elevation-z24] layout="row" style="position: fixed;">
  <button mat-icon-button class="menu-icon">
    <mat-icon (click)="sidenav.toggle()" class="mat-24" aria-label="Menu">menu</mat-icon>
  </button>
  <span>
       <a aria-label="Angular Material" mat-button tabindex="0" aria-disabled="false">
          <span class="mat-button-wrapper">
            <span>Cibeles</span>
          </span>
          <div class="mat-button-ripple mat-ripple"></div>
          <div class="mat-button-focus-overlay"></div>
        </a>
   </span>
  <span class="toolbar-spacer"></span>
  <a [routerLink]="[urls.PLAN]" mat-list-item><mat-icon class="toolbar-icon">settings</mat-icon></a>

</mat-toolbar>
<mat-sidenav-container fullscreen style="margin-top: 75px !important;">
  <mat-sidenav #sidenav mode="side" class="sidenav">
    <h4 class="subheader">Menu</h4>
    <mat-nav-list>
      <a [routerLink]="[urls.PLAN]" mat-list-item href="#"><mat-icon>list_alt</mat-icon>Planes</a>
      <a mat-list-item href="#"><mat-icon>business_center</mat-icon>Lugares</a>
      <a mat-list-item href="#"><mat-icon>gavel</mat-icon>Casos</a>
    </mat-nav-list>
  </mat-sidenav>
  <div class="content">

    <mat-card class="z-depth">
        <router-outlet></router-outlet>
    </mat-card>
    <div style="padding: 5px;"></div>

  </div>

</mat-sidenav-container>
