<div class="hover-item">
  <div>
      <h3 class="city"> {{travel.plan.name}} </h3>
      <span class="depto">Durante {{getDays(travel.stardDate, travel.finishDate)}} {{ getDays(travel.stardDate, travel.finishDate) > 1 ? "Días" : "Día"}}</span>
      <h3>desde</h3>
      <h3 class="price">{{travel.basePrice}}</h3>
      <a (click)="seeMore(travel.id)">Ver más</a>
  </div>
</div>
<div class="image-container">
  <img src="../../../assets/img/cartagena.jpg" alt="">
  <div class="info-item">
          <h3>{{travel.plan.name}}</h3>
          <span>{{travel.plan.travels.length}} opciones diferentes</span>
      </div>
</div>