<div class="tr-desp-habitaciones">
  <div class="tr-cont-hab">
    <p>Número de habitaciones</p>
    <div>
      <input type="button" class="tr-btn menos" value="" (click)="aggregateRooms(-1)">
      <input type="text" value="" [(ngModel)]="numberRooms"  disabled>
      <input type="button" class="tr-btn mas" value="" (click)="aggregateRooms(1)">
    </div>
  </div>
  <div class="tr-cont-per">
    <p>Número de personas</p>
    <div>
      <input type="button" class="tr-btn menos" value="" (click)="aggregatePeople(-1)">
      <input type="text" Value="" [(ngModel)]="numberPeople"  disabled>
      <input type="button" class="tr-btn mas" value="" (click)="aggregatePeople(1)">
    </div>
    <span>*Incluya total niños y adultos</span>
  </div>
</div>