<div class="tr-desp-habitaciones">
  <div class="tr-cont-hab">
    <p>Número de habitaciones</p>
    <form action="">
      <input type="button" class="tr-btn menos" value="">
      <input type="text" value="">
      <input type="button" class="tr-btn mas" value="">
    </form>
  </div>
  <div class="tr-cont-per">
    <p>Número de personas</p>
    <form action="">
      <input type="button" class="tr-btn menos" value="">
      <input type="text" Value="">
      <input type="button" class="tr-btn mas" value="">
    </form>
    <span>*Incluya total niños y adultos</span>
  </div>
</div>