<section>
  <div class="tr-cont-inicio-sesion">
    <div class="tr-inicio-sesion">
      <div class="logo">
        <img src="../../../assets/img/login/logo-cibeles.png" alt="logo cibeles">
      </div>
      <div class="form">
        <input class="requerido" type="text" placeholder="Número de documento" [(ngModel)]="credentials.username">
        <input class="requerido" type="password" placeholder="Contraseña" [(ngModel)]="credentials.password">
        <a href="#" class="vinculo">¿Olvidó su contraseña?</a>
        <input type="button" class="boton" value="Iniciar sesión" (click)="login()">
      </div>
      <p class="derecho">Derechos Reservados © 2018 | Un producto desarrollado por <img src="../../../assets/img/login/ter4.svg" alt="logoter4"></p>
    </div>
  </div>
</section>