<div class="container" fxLayout="column">
  <div class="container">
    <div class="docs-primary-header">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="container" fxFlexOffset="1%">
    <mat-card>
      <mat-card-header>
        <mat-card-title><h2>Descripcion Del Plan</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row wrap">
          <div fxFlex="50%">
            <mat-card>
              <div class="container" fxLayout="column">
                <mat-form-field>
                  <input matInput placeholder="Nombre del plan">
                </mat-form-field>
                <mat-form-field>
                  <textarea matInput placeholder="Descripcion"></textarea>
                </mat-form-field>
              </div>
            </mat-card>
          </div>
          <div fxFlex="49%" fxFlexOffset="1%">
            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  Imagen principal
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="container" fxLayout="column">

                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="container" fxFlexOffset="1%">
    <mat-card fxFlex="39%">
      <mat-card-header>
        <mat-card-title><h2>Servicios Incluidos</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row wrap">
          <div fxFlex="100%">
            <mat-card>
              <div class="container" fxLayout="column">
                <mat-selection-list #shoes>
                  <mat-list-option *ngFor="let service of services">
                    <div fxLayout="row" fxFlexOffset="1%">
                      <div class="tr-icon">
                        <img src="{{media + service.icoName}}">
                      </div>
                      <div class="vertical-centered-text" fxFlexOffset="5%">
                        {{service.name}}
                      </div>
                    </div>
                  </mat-list-option>
                </mat-selection-list>
              </div>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="60%" fxFlexOffset="1%">
      <mat-card-header>
        <mat-card-title><h2>Itinerario</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row wrap">
          <div fxFlex="100%">
            <div fxFlex="29%">
              <mat-card>
                <div class="container" fxLayout="column">
                  <mat-form-field>
                    <mat-select placeholder="Itinerarios Existentes" [ngModel]="selectedSchedule"
                                (ngModelChange)="selectOrigen($event)">
                      <mat-option *ngFor="let schedule of schedules" [value]="schedule.id">
                        {{schedule.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div fxLayout="row">
                    <button mat-fab fxFlexOffset="5%" (click)="openDialogAddSchedule()" color="primary">Nuevo</button>
                    <button mat-fab fxFlexOffset="5%" (click)="openDialogEditSchedule()" color="basic">Editar</button>
                    <button mat-fab fxFlexOffset="5%" (click)="openDialogDeleteSchedule()"color="warn">Eliminar</button>
                  </div>
                </div>
              </mat-card>
            </div>
            <div fxFlex="70%" fxFlexOffset="1%">
              <mat-card>
                <div class="container" fxLayout="column">
                  <div class="example-container mat-elevation-z8">
                    <div class="example-loading-shade" *ngIf="dataDaySource.loading$ | async">
                      <mat-spinner *ngIf="dataDaySource.loading$ | async"></mat-spinner>
                    </div>
                    <div class="example-table-container">
                      <table mat-table [dataSource]="dataDaySource" class="example-table">
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef>Nombre del dia</th>
                          <td mat-cell *matCellDef="let element"> {{element.name}}</td>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                          <th mat-header-cell *matHeaderCellDef class="mat-actions-ter4">
                            <button mat-raised-button color="primary" (click)="openDialogAddDay()">
                              Nuevo
                            </button>
                          </th>
                          <td mat-cell *matCellDef="let element; let i=index;" class="mat-actions-ter4">
                            <button mat-icon-button color="accent">
                              <mat-icon aria-label="Edit" (click)="openDialogEditDay(element.id)">edit</mat-icon>
                            </button>

                            <button mat-icon-button color="accent">
                              <mat-icon aria-label="Delete" (click)="openDialogDeleteDay(element.id)">delete</mat-icon>
                            </button>
                          </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="container" fxFlexOffset="1%">
    <mat-card>
      <mat-card-header>
        <mat-card-title><h2>Multimedia</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row wrap">
          <div fxFlex="50%">
            <mat-card>
              <div class="container" fxLayout="column">
                <mat-form-field>
                  <input matInput placeholder="Nombre del plan">
                </mat-form-field>
                <mat-form-field>
                  <textarea matInput placeholder="Descripcion"></textarea>
                </mat-form-field>
              </div>
            </mat-card>
          </div>
          <div fxFlex="49%" fxFlexOffset="1%">
            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  Imagen principal
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="container" fxLayout="column">
                  <input type="file" placeholder="Subir imagen..." (change)="fileChangeEventImage($event)"/>
                  <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>




