/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@font-face {
    font-family: 'oswald-regular';
    font-style: normal;
    font-weight: normal;
    src:url("./assets/fonts/oswald-regular-webfont.ttf") format('truetype'),
        url("./assets/fonts/oswald-regular-webfont.woff") format('woff'),
        url("./assets/fonts/oswald-regular-webfont.eot") format('eot'),
        url("./assets/fonts/oswald-regular-webfont.svg") format('svg');
    
}
@font-face {
    font-family: 'oswald-medium';
    font-style: normal;
    font-weight: normal;
    src:url("./assets/fonts/oswald-medium-webfont.ttf") format('truetype'),
        url("./assets/fonts/oswald-medium-webfont.woff") format('woff'),
        url("./assets/fonts/oswald-medium-webfont.eot") format('eot'),
        url("./assets/fonts/oswald-medium-webfont.svg") format('svg');
}
@font-face {
    font-family: 'oswald-extralight';
    font-style: italic;
    font-weight: lighter;
    src:url("./assets/fonts/oswald-extralight-webfont.ttf") format('truetype'),
        url("./assets/fonts/oswald-extralight-webfont.woff") format('woff'),
        url("./assets/fonts/oswald-extralight-webfont.eot") format('eot'),
        url("./assets/fonts/oswald-extralight-webfont.svg") format('svg');
}
*,*:before,*:after,*::before,*::after{
    margin: 0;
    padding: 0;
    font-size: 100%;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'oswald-medium';
}
body {
    width: 100%;
    overflow-x: hidden;
}
header {
    position: relative;
}
.responsive{
    display: none;
}
.col-100 {
    width: 100%;
}
.center-container {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.col-25 {
    display: inline-block;
    width: 24.2%;
    vertical-align: middle;
}
.logo-container {
    width: 100%;
    position: relative;
}
.logo-container>a {display: block;width: 100%;}
.logo-container>a>img {
    width: 100%;
}
.col-75 {
    width: 74.5%;
    display: inline-block;
    vertical-align: middle;
}
.navigation-container {
    width: 100%;
    position: relative;
    text-align: right;
    padding-bottom: 20px;
}
.social-container {
    position: relative;
}
ul.social {
    width: 100%;
    margin: 0 0 15px;
}
ul.social>li {
    display: inline-block;
    width: 30px;
    margin-left : 5px;
}
ul.social>li>a {
    display: block;
    transition: all .3s ease-in-out;
    opacity: 1;
}
ul.social>li>a>img {
    width: 100%;
}
ul.social>li>a:hover {
    opacity: .7;
}
.nav-container {
    width: 100%;
    position: relative;
}
ul.navigation {
    width: 100%;
    position: relative;
    /* padding: 10px 0; */
}
ul.navigation>li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 10px;
}
.header-container {
    position: fixed;
    z-index: 99;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+100&1+0,1+50,0+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 65%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,1) 65%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,1) 65%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
ul.navigation a {
    /* font-family: 'oswald-regular'; */
    white-space: nowrap;
    position: relative;
    font-weight: lighter;
}
ul.navigation>li>a {
    color: #000;
    padding: 0 15px;
    font-size: 1.1em;
}
ul.navigation>li>a:hover{
    color: #ea1216;
}
ul.subnav {
    position: absolute;
    text-align: left;
    /* padding: 10px; */
    /* top: 100%; */
    margin-top: 10px;
}
.subnav.level-2{
    background-color:#fff;
    display: none;
}
ul.subnav.level-2>li>a {
    display: none;
    display: block;
    color: #000;
    /* white-space: nowrap; */
}
ul.subnav.level-2>li {
    padding: 15px;
}
ul.subnav.level-3 {
    left: 100%;
    background-color: #c91821;
    top: 0;
    /* width: max-content; */
    /* display: table; */
    margin-top: 0;
    display: none;
}
ul.subnav.level-3>li>a {
    color: #fff;
}
ul.subnav.level-3>li {
    padding: 10px;
}
ul.subnav.level-2>li>a:after {
    right: -15px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(201, 24, 33, 0);
    border-right-color: #c91821;
    border-width: 7px;
    margin-top: -10px;
    top:0;
    bottom: 0;
    margin: auto;
    opacity: 0;
}
ul.subnav.level-2>li:hover > a:after {
    opacity: 1;
}
ul.subnav.level-2>li:hover > ul {
    display: block;
}
ul.navigation>li:hover>ul {
    display: block;
}
ul.slider-home {
    position: relative;
    width: 100%;
}
.slider-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.slider-container li>img{
    width: 100%;
    position: relative;
}
span.arrow {
    position: absolute;
    display: table;
    z-index: 10;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 5%;
    cursor: pointer;
}
span.arrow.left-arrow {
    left: 2%;
    transform: rotate(90deg);
}
span.arrow.right-arrow {
    right: 2%;
    transform: rotate(-90deg);
}
.search-container {
    position: absolute;
    top: 80%;
    width: 100%;
}
.search-container>div {
    background-color: rgba(91,91,91,.85);
    padding: 25px;
}
.search-container h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.8em;
    font-weight: 300;
}
.search-container fieldset {
    border: none;
    width: 100%;
    text-align: center;
}
.search-container fieldset>div {
    width: 17%;
    display: inline-block;
    margin-right: 1%;
    background-color: #fff;
    border-radius: 7px;
    position: relative;
}
.search-container fieldset>div>label {
    width: 20%;
    display: inline-block;
    height: 0;
    padding-bottom: 20%;
    vertical-align: middle;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
}
label[for="origen"]{
    background-image: url('./assets/img/position-icon.png');
}
label[for="tipo"]{
    background-image: url('./assets/img/travel-icon.png');
}
label[for="destino"]{
    background-image: url('./assets/img/star-icon.png');
}
label[for="fecha"]{
    background-image: url('./assets/img/calendar-icon.png');
}
label[for="habitaciones"]{
    background-image: url('./assets/img/room-icon.png');
}
label[for="otros-destinos"] {
    background-image:url('./assets/img/position-icon.png')
}
.search-container fieldset>div>select {
    width: 75%;
    border: none;
    padding: 15px 0;
    font-family: 'oswald-extralight';
    margin-right: 1%;
    vertical-align: middle;
    /* padding-left:30px; */
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-color: transparent;
    background-image: url('./assets/img/arrow-down.png');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 95% center;
}
select::-ms-expand {
    display: none;
}
.search-container fieldset button {
    width: 5%;
    padding-bottom: 4%;
    vertical-align: middle;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ea1216;
    background-image: url('./assets/img/magnify-icon.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .3s linear;
    border: 1px solid #ea1216;
}
.search-container fieldset button:hover {
    background-color: transparent;
    background-image: url('./assets/img/magnify-icon-red.png');
    background-size: 60%;
}
.salidas {
    background-color: #e2e7ea;
    padding-top: 120px;
}
h2 {
    color: #575757;
    text-transform: uppercase;
    font-size: 1.8em;
    text-align: center;
    font-weight: 300;
}
ul.salidas-items {
    padding-top: 40px;
    padding-bottom: 40px;
}
.hover-item {
    width: 100%;
    position: relative;
    padding-bottom: 100%;
    height: 0;
    /* display: table; */
    transition: all .3s ease-in-out;
    z-index: 1;
    transition-delay: .2s;
    opacity: 0;
}
.hover-item>div {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    bottom: 0;
    margin: auto;
    transform: translateY(-50%);
}
h3.city {
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 300;
}
span.depto {
    font-family: 'oswald-extralight';
    margin-bottom: 7%;
    display: block;
}
h3.price {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 300;
    padding: 2% 0;
}
.hover-item a {
    color: #fff;
    font-family: 'oswald-extralight';
    border: 1px solid;
    padding: 10px 25px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
ul.salidas-items.col-100>li {
    position: relative;
    margin: 0 1% 1% 0;
    cursor: pointer;
}
ul.salidas-items.col-100>li:nth-child(4n){
    margin: 0 0 1% 0;
}
.image-container {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.image-container>img {
    width: auto;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.info-item {
    position: absolute;
    bottom: 0;
    padding-left: 10%;
    padding-bottom: 10%;
    color: #fff;
    transition: all .3s ease-in-out;
    width: 100%;
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(30%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.info-item>h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
}
.info-item>span {
    margin-top: 3%;
    display: block;
    font-family: 'oswald-extralight';
    font-size: 1.2em;
}
ul.salidas-items.col-100>li:hover > .hover-item {
    opacity: 1;
}
ul.salidas-items.col-100>li:hover > div>.info-item {
    bottom: -50%;
}
ul.salidas-items.col-100>li:nth-child(8n+1)>.hover-item{
   background-color: rgba(60,141,1,.7)
}
ul.salidas-items.col-100>li:nth-child(8n+2)>.hover-item {
    background-color: rgba(0, 162, 210, 0.7);
}
ul.salidas-items.col-100>li:nth-child(8n+3)>.hover-item{
   background-color: rgba(242,183,8,.7)
}
ul.salidas-items.col-100>li:nth-child(8n+4)>.hover-item{
   background-color: rgba(246,96,0,.7)
}
ul.salidas-items.col-100>li:nth-child(8n+5)>.hover-item{
   background-color: rgba(0,207,194,.7)
}
ul.salidas-items.col-100>li:nth-child(8n+6)>.hover-item{
   background-color: rgba(0,168,148,.7)
}
ul.salidas-items.col-100>li:nth-child(8n+7)>.hover-item{
   background-color: rgba(196,26,83,.7)
}
ul.salidas-items.col-100>li:nth-child(8n+8)>.hover-item{
   background-color: rgba(191,3,27,.7)
}
.col-100.ofertas {
    padding-top: 40px;
}
.hover-item a:hover {
    background-color: #fff;
    color: #575757;
}
/* internas */
.header-container.col-100.header-interno {
    background-color: #fff;
    border-bottom: 3px solid #ea1216;
}
.search-container.search-interno {
    position: relative;
    background-color: #e2e7ea;
    padding: 132px 0 0;
}
.search-container.search-interno>div {
    background-color: transparent;
}
.search-container.search-interno h2 {
    color: #575757;
}
.search-container.search-interno .col-100 {
    width: 100%;
    background-color: transparent;
    margin: 0;
    padding: 2%;
}
.col-40 {
    width: 39.5%;
    display: inline-block;
}
.col-60 {
    width: 59.5%;
    display: inline-block;
}
.search-interno .tr-estado {
    margin: 0;
}
.search-container.search-interno .col-40>div {
    width: 90%;
        background-color: #fff;
    border-radius: 7px;
}
.search-container.search-interno .col-40>div>label {
     width: 10%;
    display: inline-block;
    height: 0;
    padding-bottom: 10%;
    vertical-align: middle;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
}
.search-container.search-interno .col-40>div>select {
    width: 85%;
    border: none;
    padding: 15px 0;
    font-family: 'oswald-extralight';
    margin-right: 1%;
    vertical-align: middle;
    /* padding-left: 30px; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: url(./assets/img/arrow-down.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 95% center;
}
.search-container.search-interno .col-60 {
    padding-left: 30%;
}
/* busqueda */
.tr-conoce, .tr-contacto{
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.tr-conoce div{
    margin: 0 0 25px;
}
.tr-conoce h2{
    color: #476AAA;
    font-size: 25px;
    margin: 0 0 15px;
}
.tr-qSomos, .tr-politicas{
    width: 100%;
}
.tr-mision, .tr-vision{
    width: 48%;
}
.tr-contenido li{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 0 10px;
    margin: 0 0 5px;
    line-height: 22px;
    text-align: justify;
    color: #494949;
    font-size: 16px;
    font-family: 'oswald-extralight';
}
.tr-contenido li:before{
    content:"";
    color: #494949;
    font-size: 20px;
    font-family: 'oswald-extralight';
    position: relative;
    left:-10px;
}
.tr-resultados{
    font-size: 0;
    width: 100%;
    position: relative;
    margin: 0 0 50px;
}
.tr-resultados:nth-last-child(1){
    margin: 0;
}
.tr-resultados img, .tr-info-rst-bus, .tr-valores{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 2% 0 0;
}
.tr-resultados img{
    width: 27%;
}
.tr-info-rst-bus{
    width: 50%;
}
.tr-info-rst-bus h2{
    font-size: 28px;
    text-align: left;
    margin: 0;
}
.tr-info-rst-bus span{
    font-size: 18px;
    font-family: 'oswald-extralight';
    display: block;
    margin: 0 0 25px 0;
}
.tr-valores{
    width: 17%;
    text-align: center;
}

.tr-valores span{
    font-size: 16px;
    font-family: 'oswald-extralight';
    display: block;
}
.tr-valores h3{
    font-size: 36px;
}
.tr-estado, .tr-cont-icons, .tr-cont-planes{
    width: 100%;
    position: relative;
    margin: 45px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.tr-cont-icons{
    justify-content: start;
}
.tr-disponible, .tr-NoDisponible{
    display: inline-block;
    color:#00D85C;
    vertical-align: middle;
    font-family: 'oswald-medium';
    font-weight: 900;
}
.tr-NoDisponible{
    color: #EA1216;
    margin: 0 auto;
}
.tr-btn{
    text-align: center;
    color: #ffffff;
    border-radius: 7px;
    font-size: 16px;
    padding: 15px 15px 10px;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.tr-verde{
    background: #00D85C;
    border:1px solid #00D85C;
}
.tr-azul{
    background: #234C99;
    border: 1px solid #234C99;
}
.tr-rojo{
    background: #EA1216;
    border: 1px solid #EA1216;
}
.tr-verde:hover{
    background: none;
    border:1px solid #00D85C;
    color:#00D85C;
}
.tr-azul:hover{
    background: none;
    border: 1px solid #234C99;
    color:#234C99;
}
.tr-rojo:hover{
    background: none;
    border: 1px solid #EA1216;
    color:#EA1216;
}
.tr-valores .tr-azul{
    margin: 25px 0 0;
}
.tr-cont-icons{
    margin: 20px 0;
}
.tr-icon{
    background: #1E95A6;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    margin: 0 0 0 2%;
}
.tr-icon img{
    display: block;
    margin: auto;
    width: 65%;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* fin busqueda */
/* contactenos */
.tr-contacto h1{
    color: #476AAA;
    font-size: 28px;
    margin: 0 0 15px;
}
.tr-form{
    width: 65%;
    margin: 20px 0 0;
}
.tr-form h2, .tr-datos h2{
    font-size: 24px;
    color: #EA1216;
    margin: 0 0 15px;
}
.tr-form form{
    width: 100%;
    position: relative;
}
.tr-form form fieldset{
    display: inline-block;
    width: 49.2%;
    border: none;
    margin: 0 1% 0 0;
}
.tr-form form fieldset:nth-child(2n), .tr-form form fieldset:nth-child(5){
    margin: 0;
}
.tr-form form fieldset:nth-child(5){
    width: 100%;
}
.tr-form form fieldset input[type="text"], .tr-form form fieldset textarea{
    width: 100%;
    background: #F9F9F9;
    border: 0;
    padding: 20px 15px;
    border-radius: 7px;
    margin: 0 0 20px;
    box-sizing: border-box;
}
.tr-form form input[type="submit"]{
    padding: 15px 105px 10px;
}
.tr-datos{
    width: 30%;
    margin: 20px 0 0;
}
.tr-cont-dato{
    width: 100%;
    margin: 0 0 20px;
}
.tr-cont-dato img{
    width: 44px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
}
.tr-cont-dato img[alt="wpp"]{
    width: 39px;
}
.tr-cont-dato span{
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
}
/*BANNER DETALLE*/
.tr-banner-dtll{
    width: 100%;
    position: relative;
}
.tr-banner-dtll img{
    width: 100%;
    position: relative;
    z-index: 1;
    display: block;
}
.tr-banner-dtll .tr-datos-banner{
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 0;
    background: rgba(91,91,91,.85);
    box-sizing: border-box;
    padding: 1% 0;
}
.tr-datos-banner .tr-contenedor{
    font-size: 0;
    padding: 0;
}
.tr-left, .tr-center, .tr-right{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.tr-left{
    width: 65%;
}
.tr-left h2{
    color: #ffffff;
    text-align: left;
    font-size: 38px;
}
.tr-center{
    width: 20%;
}
.tr-center span{
    color: #ffffff;
    text-align: right;
    font-size: 18px;
    display: block;
}
.tr-center h3{
    color: #ffffff;
    text-align: right;
    font-size: 40px;
}
.tr-right{
    width: 15%;
    text-align: center;
}
.tr-right a img{
    display: inline-block;
    width: 65px;
    transition: all .3s ease-in-out;
}
.tr-right a:hover img{
    opacity: .6;
}
/* fin contactenos */
.internal-container {
    padding-top: 70px;
    padding-bottom: 70px;
}
p {
    text-align: justify;
    color: #494949;
    font-size: 16px;
    font-family: 'oswald-extralight';
    margin: 0 0 15px;
    line-height: 22px;
}
.internal-container h2 {
    text-align: left;
}
/* planes */
.tr-cat-plan{
    width: 32.5%;
    position: relative;
    cursor: pointer;
}
.tr-cat-plan img{
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
}
.tr-cont-tit-cat{
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(30%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    position: absolute;
    bottom: 0;
    z-index: 2;
    height: 30%;
    width: 100%;
    transition: all .3s ease-in-out;
}
.tr-cat-plan:hover .tr-cont-tit-cat{
    height: 100%;
}
.tr-cont-tit-cat h2{
    color: #ffffff;
    font-size: 31px;
    text-align: left;
    position: relative;
    top: 50%;
    left: 20px;
}
.tr-cat-plan>ul.salidas-items.col-100 {
    display: none;
}
.col-100.plains-content li {
    width: 24%;
    padding: 0;
}
.col-100.plains-content>div {
    padding: 30px;
    background-color: #e2e7ea;
}
.plain-active:after {
    bottom: -50px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(226, 231, 234, 0);
    border-bottom-color: #e2e7ea;
    border-width: 30px;
    margin-left: -30px;
}
section.detalle.col-100 {
    background-color: #e2e7ea;
}
ul.detail-content>li {
    display: inline-block;
}
ul.detail-content>li>h3 {
    text-transform: uppercase;
    padding: 0 10px;
    color: #575757;
    font-size: 1.5em;
    font-weight: 300;
    padding-bottom: 20px;
    cursor: pointer;
    transition: all .2s linear;
    position:relative;
}
ul.detail-content>li>h3:after{
    content:"";
    height: 3px;
    background-color: #ea1216;
    display: block;
    position: absolute;
    bottom: -5%;
    width: 0;
    transition: all .2s linear;
    left: 0;
}
ul.detail-content>li>h3:hover, .detail-active {
    color:#ea1216 !important;
}
ul.detail-content>li>h3:hover:after, .detail-active:after {
    width: 100% !important;
}
.detail-item {
    position: absolute;
    width: 100%;
    left: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s linear;
    display: none;
}
.detail-item-active {
    visibility: visible !important;
    opacity: 1 !important;
    left: 0 !important;
    display: block !important;
}
/* fin planes */
/* fin internas */
/* footer */
.col-100.banner-footer>img {
    width: 100%;
    display: block;
}
.footer-container {
    background-color: #494949;
    color: #fff;
    padding: 40px 0;
}
.col-50 {
    display: inline-block;
    width: 49.5%;
}
.col-100.footer-container>div>.col-50 {
    vertical-align: top;
}
footer .left-footer>span, footer .left-footer>a {
    display: table;
    font-family: 'oswald-extralight';
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    background-size: 20px;
    background-position: left center;
    background-repeat: no-repeat;
    color: #fff;
}
ul.social-footer {
    position: relative;
    width: 100%;
    margin: 30px 0 0;
}
ul.social-footer>li {
    display: inline-block;
    width: 25px;
    margin-right: 10px;
}
ul.social-footer>li>a {
    display: block;
}
ul.social-footer>li>a>img {
    width: 100%;
}
a.ter4 {padding-left: 0 !important;padding-top: 40px !important;}
a.ter4>span {
    font-family: 'oswald-extralight';
    vertical-align: middle;
    color: #fff;
}
a.ter4>img {
    width: 35px;
    vertical-align: middle;
    margin-left: 5px;
}
footer .right-footer>h3 {
   text-transform: uppercase;
   font-size: 1.8em;
   font-weight: 300;
}
.right-footer p {
    font-family: 'oswald-extralight';
    margin-bottom: 15px;
    margin-top: 15px;
    color: #fff;
}
.right-footer input {
    width: 90%;
    border: none;
    padding: 15px 10px;
    border-radius: 7px;
    font-family: 'oswald-extralight';
}
input#politica {
    width: 0;
    height: 0;
    visibility: hidden;
}
label[for="politica"]{
    width: 25px;
    height: 25px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
}
.col-50.right-footer a{
    color: #fff;
    vertical-align: middle;
    margin: 2px 0 0 10px;
    font-family: 'oswald-extralight';
    font-weight: 600;
    display: inline-block;
}
input#politica:checked + label {
    background: #ffffff url(./assets/img/check-checked.png) no-repeat center center;
    background-size: 85%;
}
.col-50.right-footer button {
    width: 90%;
    margin-top: 15px;
    padding: 15px 0;
    border: none;
    background-color: #ea1216;
    border:1px solid #ea1216;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s linear;
}
.col-50.left-footer>a {
    background-image: url('./assets/img/mail-plan.png');
}

span.telefono {
    background-image: url('./assets/img/phone-receiver.png');
}

span.direccion {
    background-image: url('./assets/img/location.png');
}
.col-50.right-footer button:hover {
    border: 1px solid #ea1216;
    background-color: transparent;
    color: #ea1216;
}
/* fin footer */

@media screen and (max-width: 1024px){
    .search-container {
    position: relative;
    /* padding: 5% 0; */
    top: 0;
    }
    .center-container {
        padding: 0 5% !important;
    }
    .search-container fieldset>div {
        /* display: block; */
        width: 47%;
        margin-bottom: 2%;
    }
    .search-container fieldset button {
        width: 48%;
        padding: 5% 0;
        background-size: 10%;
        background-position: 5% center;
        position: relative;
    }
    .search-container fieldset button:after {
        content: "Buscar";
        position: absolute;
        color: #ffffff;
        width: 100%;
        height: 100%;
        left: 0;
        font-size: 1.5em;
        top: 39%;
    }
    .search-container fieldset button:hover {
        background-size: 10%;
    }
    .search-container fieldset button:hover:after {
        color: #ea1216;
    }
    ul.salidas-items.col-100>li {
        display: block;
        width: 100%;
    }
    ul.salidas-items.col-100>li:nth-child(n+4) {
        display: none;
    }
    .col-100.footer-container .col-50 {
        display: block;
        width: 100%;
    }
    ul.social-footer {
        text-align: center;
        margin-bottom: 10%;
        margin-top: 10%;
    }
    footer .right-footer>h3 {
        text-align: center;
    }
    .right-footer p {
        text-align: center;
    }
    .col-50.right-footer .col-50 {
        margin-bottom: 2%;
    }
    .right-footer input {
        width: 100%;
    }
    .col-50.right-footer button {
        width: 100%;
    }
    span.arrow{
        display: none !important;
    }
    .social-container {
        display: none;
    }
    .nav-container {
        position: fixed;
        width: 80%;
        right: -100%;
        background-color: #fff;
        height: 100%;
        transition: all .3s ease-in-out;
        top: 0;
        padding-top: 19%;
    }
    ul.navigation>li {
        display: block;
        border-bottom: 1px solid #cecece;
        width: 90%;
        margin: auto;
    }
    ul.navigation {
        text-align: left;
    }
    ul.subnav {
        position: relative !important;
        display: block !important;
        left: 0 !important;
        transition: all .3s linear;
    }
    input#button-menu {
        display: block;
        width: 0;
        height: 0;
        visibility: hidden;
    }
    label.responsive {
        display: table;
        position: relative;
        right: -70%;
        z-index: 10;
        /* top: 20%; */
    }
    .button-bars {
        width: 50px;
        position: absolute;
        top: 0;
    }
    .bar {
        height: 5px;
        background-color: #c91821;
        border-radius: 10px;
        margin-bottom: 7px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        transition: all .3s ease-in-out;
    }
    .bar.bar3 {
        margin-bottom: 0;
    }
    .bar.bar2 {
        width: 100%;
    }
    .header-container.col-100 .col-25, .header-container.col-100 .col-75 {
        vertical-align: top;
    }
    input#button-menu:checked ~ .nav-container {
        right:0;
    }
    input#button-menu:checked + label>div>.bar1 {
        transform: rotate(45deg);
        width: 100%;
    }
    input#button-menu:checked + label>div>.bar3 {
        transform: rotate(-45deg);
        width: 100%;
        position:absolute;
        top:0
    }
    input#button-menu:checked + label>div>.bar2 {
        transform: rotate(-45deg);
        width: 100%;
        position:absolute;
        top:0
    }
    input#button-menu:checked + label>div{
        top: 0%;
        margin-top:10%
    }
    input#button-menu:checked + label{
        margin-top: 5%;
    }
    .header-container.col-100>div>.col-25 {
        /*margin-top: 5%;*/
    }
    input#button-menu:checked + label.responsive:before {
        content: 'Menú';
        position: relative;
        display: inline-block;
        left: -200%;
        font-size: 1.2em;
        text-transform: uppercase;
        color: #c91821;
    }
    .search-container>div {
        padding: 10% 0 !important;
    }
    ul.subnav {
        max-height: 0;
        overflow: hidden;
    }
    ul.navigation>li:hover > .level-2 {
        max-height: 2000px;
    }
    ul.subnav.level-2>li:hover > .level-3 {
        max-height: 3000px;
    }
    ul.subnav.level-2>li>a:after {
        display: none;
    }
    .tr-cat-plan {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    ul.col-100.multimedia>li {
        display: block;
        width: 90%;
        margin: auto;
    }
    .search-container.search-interno .col-40 {
        display: block;
        width: 100%;
    }
    .search-container.search-interno .col-40>div {
        width: 100%;
    }
    .search-container.search-interno .col-60 {
        width: 100%;
        display: block;
        margin-top: 20px;
        text-align: center;
        padding: 0;
    }
    .detail-item {
        width: 90%;
        margin: auto;
        position: relative;
    }
    ul.detail-content>li {
        display: block;
    }
    .tr-form form fieldset{
        width:100%;
    }
}
@media screen and (max-width:768px){
    .tr-form, .tr-datos{
        width: 100%;
    }
}
@media screen and (max-width:580px){
    .tr-mision, .tr-vision{
        width: 100%;
    }
}
@media screen and (max-width:450px){
    .header-container.col-100>div>.col-25 {
        width: 45%;
    }
    .header-container.col-100>div>.col-75 {
        width: 49%;
    }
    .search-container fieldset>div>select {
        width: 70%;
    }
    .tr-cont-tit-cat h2 {
        font-size: 1.4em;
    }
}